
.page-main h1 {
  font-family: "PT-Sans", sans-serif;
  font-weight: bold;
  font-size: @h1-size;
  text-align: center;
  text-transform: uppercase;
  color: @white-color;
  letter-spacing: 3px;
  line-height: @h1-line;
}
