
.search__title {
  padding-bottom: 15px;
}

.search__description {
  padding: 0 @main-block-side 35px @main-block-side;
  text-align: center;
}

.search__map {
  padding-bottom: 33px;
}

.search__iframe {
  border: none;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .search__description {
    padding-right: @sum-side;
    padding-left: @sum-side;
    line-height: 24px;
  }

  .search__map {
    padding-bottom: 28px;
  }

  .search__title {
    padding-bottom: 30px;
    padding-top: 52px;
  }
}

@media (min-width: @desktop-width) {
  .search__description {
    padding-right: 350px;
    padding-left: 350px;
  }
}
