
/*основные цвета*/
@white-color: #ffffff;
@blue-color: rgb(129,179,211);
@black-color: #000000;
@grey-color: rgb(214,214,214);
@grey-color-main: rgb(238,238,238);
@bglink-color-hover: rgb(102,158,192);
@bglink-color-down: rgb(84,150,189);
@bglink-color-disabled: rgba(255,255,255,0.1);
/*основные отступы*/
@block-bottom:3vh;
@block-item-bottom:1.3vh;
@main-block-side:20px;
@block-side:120px;
@sum-side:@block-side+@main-block-side;
/*breakpoint*/
@bgmobile: rgb(44, 0, 0);
@bgtablet: rgba(51, 51, 51, 0.65);
@bgdesktop: rgba(242,242,242);
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1280px;
