
/*основные цвета*/
@white-color: #ffffff;
@blue-color: rgb(129,179,210);
@black-color: #000000;
@grey-color: rgb(214,214,214);
@grey-color-main: rgb(238,238,238);
@menu-link-active: rgb(118,99,87);
@menu-link-active-hover: rgb(96,78,67);
@menu-link-active-down: rgba(118,99,87,0.3);
@like-icon: rgb(170,170,170);
@video-icon: rgb(92,106,115);
@video-icon-active-mobile: rgba(51,51,51,0.3);
@video-icon-hover-tablet: rgb(194,194,194);
@video-icon-active-tablet: rgba(194,194,194,0.3);
@bglink-color-hover: rgb(102,158,192);
@bglink-color-down: rgb(84,150,189);
@bglink-color-disabled: rgba(255,255,255,0.1);
/*главная страница*/
@icon-size:40px;
@icon-size-tablet:75px;
@icon-size-desktop:40px;
@icon-padding-right:29px;
@clar-description-padding:@icon-size+@icon-padding-right;
/*формы*/
@greyinput-color: rgb(242, 242, 242);
@greyinput-hover-color: rgb(229, 229, 229);
@greyinput-down-color: rgb(213, 213, 213);
@greyinput-dash-color: rgb(219, 219, 219);
@greyinput-icon-color: rgb(230, 230, 230);
@label: 18px;
@radio-button-color: rgb(51, 51, 51);
/*основные отступы*/
@block-bottom: 45px;
@block-bottom-sm: 30px;
@block-item-bottom: 40px;
@main-block-side:20px;
@block-side:120px;
@sum-side:@block-side+@main-block-side;
/*breakpoint*/
@bgmobile: rgb(44, 0, 0);
@prim: rgb(51, 51, 51);
@bgtablet: rgba(51, 51, 51, 0.65);
@bgdesktop: rgba(242,242,242);
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1200px;
@retina-ddpx: 1.5dppx;
