@padding-description: @block-side - 20;

.feedback__header {
  padding: 38px @main-block-side 15px;
  border-bottom: 1px solid @grey-color;
}

.feedback__title {
  text-align: center;
  padding-bottom: 25px;
}

.feedback__description {
  text-align: center;
  padding: 0;
}

.feedback__form {
  padding-bottom: 50px;
}

@media (min-width: @tablet-width) {
  .feedback__form {
    padding: 55px 60px 72px 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__header {
    padding: @block-bottom 165px 0;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .feedback__header {
    padding: @block-bottom 380px 0;
    border-bottom: none;
  }

  .feedback__form {
    padding: 50px 120px 0 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
