@h1-size: 23px;
@h1-line: @h1-size+7;
@h2-size: 21px;
@h3-size: 18px;
@h3-line: @h3-size+7;
@usual-size: 14px;
@copyright: 12px;
/*планшет */
@h1-size-tablet: 23px;
@h1-line-tablet: @h1-size+7;
@h2-size-tablet: 25px;
@h3-size-tablet: 22px;
@h3-line-tablet: @h3-size+7;
/*@usual-size-tablet: 14px;
@copyright-tablet: 12px;*/
/*декстоп*/
@h1-size-desktop: 23px;
@h1-line-desktop: @h1-size+7;
@h2-size-desktop: 21px;
@h3-size-desktop: 18px;
@h3-line-desktop: @h3-size+10;
@usual-size-desktop: 14px;
@copyright-desktop: 12px;

@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/ptsans.woff");
  src: url("../fonts/ptsans.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/ptsansbold.woff");
  src: url("../fonts/ptsansbold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "FontAwesome";
  src: url("@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}");
  src: url("@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}") format("embedded-opentype");
  src: url("@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-version}") format("woff2");
  src: url("@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}") format("woff");
  src: url("@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}") format("truetype");
  src: url("@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular") format("svg");
  // src: url("@{fa-font-path}/FontAwesome.otf") format("opentype"); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
