@h1-size: 9vw;
@h1-line: @h1-size+3;
@h2-size: 4vw;
@h3-size: 2vw;
@h3-line: @h3-size+2;
@usual-size: 1.3vw;
@copyright: 0.9vw;

@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/ptsans.woff");
  src: url("../fonts/ptsans.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/ptsansbold.woff");
  src: url("../fonts/ptsansbold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "FontAwesome";
  src: url("@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}");
  src: url("@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}") format("embedded-opentype");
  src: url("@{fa-font-path}/fontawesome-webfont.woff2?v=@{fa-version}") format("woff2");
  src: url("@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}") format("woff");
  src: url("@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}") format("truetype");
  src: url("@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular") format("svg");
  // src: url("@{fa-font-path}/FontAwesome.otf") format("opentype"); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
