
@h1-size:9vw;
@h1-line:@h1-size+3;
@h2-size:4vw;
@h3-size:2vw;
@h3-line:@h3-size+2;
@usual-size:1.3vw;
@copyright: 0.9vw;

@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/ptsans.woff");
  src: url("../fonts/ptsans.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "PT-Sans";
  src: url("../fonts/ptsansbold.woff");
  src: url("../fonts/ptsansbold.woff2");
  font-weight: bold;
}

.h2-font {
  font-size: @h2-size;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title-font {
  font-size: @h3-size;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.description {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: @h3-size;
}

.bold {
  font-weight: bold;
  text-transform: none;
}
