@greyinput-color: rgb(242, 242, 242);
@greyinput-hover-color: rgb(229, 229, 229);
@greyinput-down-color: rgb(213, 213, 213);
@label: 3vw;

.form-item {
  list-style: none;
  padding: 2*@block-item-bottom 0;
  border-bottom: 1px solid @grey-color;

  & li {
    margin: 0 @main-block-side;
  }

  & .form-item__button {
    margin: 0;
  }
}

.form-item__title {
  text-align: center;
}

.form-item__text {
  padding-top: 20px;
  display: flex;
  align-content: stretch;

  &--contact {
    flex-direction: column;
  }

  &--contact .form-label {
    padding-left: 40px;
  }
}

.form-label {
  text-transform: uppercase;
  padding-right: @main-block-side;
  font-size: 3vw;
  padding-top: 10px;
  letter-spacing: 1px;
}

.form-text {
  background: @greyinput-color;
  font-size: @label;
  padding: 8px 20px;
  flex-basis: 50%;
  border: 3px @greyinput-color solid;
  outline: none;

  &::placeholder {
    font-weight: bold;
    font-size: @label;
    color: @black-color;
  }

  &:hover {
    background: @greyinput-hover-color;
    border: 3px @greyinput-hover-color solid;
  }

  &:focus {
    background: @white-color;
    border: 3px @greyinput-color solid;
  }

  &--phone,
  &--email {
    margin-top: 10px;
  }
}

.form-text--phone {
  background-image: url("../img/icon-phone.svg");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.form-text--email {
  background-image: url("../img/icon-mail.svg");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.radiogroup-label,
.checkbox-label {
  font-size: 3vw;
  padding-top: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 10px 25%;
}

.form-item__radiogroup {
  padding-top: 20px;
}

.form-radio {
  position: relative;
  appearance: none;
  font-size: @h2-size;
  width: 1em;
  height: 1em;
  margin: 0;
  outline: none;
  font-family: "FontAwesome", sans-serif;
  transition: 300ms ease-out;

  &::after {
    content: ""; // circle
    background: @greyinput-color;
    display: inline-block;
    text-align: center;
    width: 1em;
    height: 1em;
    border-radius: 50%;
  }

  &:hover::after {
    background: @greyinput-hover-color;
  }

  &:checked::after {
    font-weight: 900;
    content: "\f111"; // circle
    color: @black-color;
    background: @greyinput-down-color;
    font-size: 1em;
  }

  + span {
    margin-left: 1.35em;
  }
}

.form-checkbox {
  position: relative;
  appearance: none;
  font-size: @h2-size;
  width: 1em;
  height: 1em;
  margin: 0;
  outline: none;
  font-family: "FontAwesome", sans-serif;
  transition: 300ms ease-out;

  &::after {
    content: "";
    background: @greyinput-color;
    display: inline-block;
    text-align: center;
    width: 1em;
    height: 1em;
  }

  &:hover::after {
    background: @greyinput-hover-color;
  }

  &:checked::after {
    font-weight: 900;
    content: ""; //
    color: @black-color;
    background: @greyinput-down-color url("../img/icon-tick.svg") no-repeat;
    background-size: 0.7em;
    background-position: center;
    font-size: 1em;
  }

  + span {
    margin-left: 1.35em;
  }
}

.form-textarea {
  width: 100%;
  margin-top: 20px;
  border: none;
  outline: none;
  background: @greyinput-color;
  padding: 20px;
  overflow: auto;
  height: 250px;

  &::placeholder {
    font-weight: bold;
    font-size: 1.1vw;
    color: @black-color;
  }
}
