
.foto__list {
  padding: @main-block-side 0 @main-block-side 0;
  list-style: none;
}

.foto__item {
  font-size: @usual-size;
  text-align: left;
  padding: 0 @main-block-side;
  border-bottom: 1px solid @grey-color;
  margin-bottom: @main-block-side;
}

.foto__title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 10px;
}

.foto__title,
.foto__description {
  line-height: 25px;
}

.foto__like {
  line-height: @h3-line;
  padding-bottom: @main-block-side;
  display: flex;
  flex-direction: row;
  padding-top: 5px;

  &::before {
    padding-right: 30px;
    content: "";
    background: url("../img/icon-like.svg") no-repeat;
    background-size: 20px 20px;
  }
}

.foto__link {
  display: block;
}

@media (min-width: @tablet-width) {
  .foto__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 60px;
    padding-bottom: 50px;
  }

  .foto__item {
    width: 50%;
    border-bottom: none;
    background: @bgdesktop;
    padding: 0;
    margin-bottom: 0;

    &:first-child {
      width: 100%;
    }

    &:first-child .foto__wrapper {
      padding-right: 20px;
    }
  }

  .foto__wrapper {
    padding: 25px 30px 25px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .foto__like {
    margin-left: auto;
    align-self: flex-end;
  }

  .foto__title {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .foto__list {
    margin: 0;
  }

  .foto__item {
    width: 33%;
    flex-grow: 1;
    position: relative;

    &:first-child {
      width: 100%;
    }
  }

  .foto__wrapper {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    color: white;
    width: 100%;
    padding: 30px 20px;
  }
}
