
.foto-header {
  padding: @block-bottom @main-block-side @block-item-bottom;
  border-bottom: 1px solid @grey-color;
}

.foto-header__title {
  margin: 0 @main-block-side @block-item-bottom @main-block-side;
  text-align: center;
}

.foto-header__description {
  text-align: center;
  line-height: @h3-line;
}
