
.page-footer__title {
  font-family: "PT-Sans", sans-serif;
  font-weight: bold;
  font-size: @h2-size;
  text-align: center;
  text-transform: uppercase;
  color: @black-color;
  letter-spacing: 3px;
  line-height: @h1-line;
  padding-bottom: @block-item-bottom;
}

.page-footer__copyright {
  margin: @block-item-bottom @main-block-side;
  text-align: center;
  font-size: @usual-size;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
