
.page-footer__copyright {
  margin: @block-item-bottom @main-block-side;
  text-align: center;
  font-size: @usual-size;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copyright__link,
.copyright__text {
  display: block;
}

.copyright__text {
  padding-top: 10px;
  padding-right: 10px;
}

.copyright__link {
  display: block;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
  width: 25px;
  height: 35px;
  background-position: center;
  background-size: 25px 35px;
}
