
.reason-list {
  list-style: none;
  background: @grey-color-main;
}

.reason-list__desciption--blue {
  background-color: @blue-color;
  color: @white-color;
  padding: 0 (@sum-side);
}

.reason-list__item {
  &:last-child {
    margin: 0 @sum-side @block-bottom @sum-side;
  }
}
