
@icon-size:75px;
@icon-padding-right:50px;
@clar-description-padding:@icon-size+@icon-padding-right;

.reason-header {
  padding: 0 @sum-side;
}

.reason-list {
  list-style: none;
  background: @grey-color-main;
}

.reason-list__desciption--blue {
  background-color: @blue-color;
  color: @white-color;
  padding: 0 (@sum-side);
}

.reason__title {
  padding: @block-bottom 0 @block-item-bottom;
  text-align: center;
  font-weight: bold;
  font-size: @h3-size;
  text-transform: uppercase;
  color: @black-color;
  letter-spacing: 1px;
  line-height: @h3-line;

  &--white {
    color: @white-color;
  }
}

.reason__description {
  text-align: center;
  padding-bottom: @block-item-bottom;

  &:last-child {
    padding-bottom: @block-bottom;
  }
}

.reason-clarification {
  padding: @block-bottom 6vw @block-bottom 10vw;
  list-style: none;
  background: @white-color;
}

.clarification-item {
  padding-right: 20px;

  &--house::before {
    content: "";
    background: url("../img/icon-house.svg") no-repeat; /* Параметры фона */
    width: @icon-size;
    height: @icon-size;
    display: inline-block;
    background-size: @icon-size @icon-size;
    padding-right: @icon-padding-right;
  }

  &--gifts::before {
    content: "";
    background: url("../img/icon-gift.svg") no-repeat; /* Параметры фона */
    width: @icon-size;
    height: @icon-size;
    display: inline-block;
    background-size: @icon-size @icon-size;
    padding-right: @icon-padding-right;
  }

  &--food::before {
    content: "";
    background: url("../img/icon-burger.svg") no-repeat; /* Параметры фона */
    width: @icon-size;
    height: @icon-size;
    display: inline-block;
    background-size: @icon-size @icon-size;
    padding-right: @icon-padding-right;
  }
}

.clarification__title {
  margin-bottom: @block-item-bottom;
}

.clarification__description {
  padding-left: @clar-description-padding;
  padding-top: 20px;
  padding-bottom: @block-bottom;
}

.reason-list__item {
  &:last-child {
    margin: 0 @sum-side @block-bottom @sum-side;
  }
}
