@import url("_variables.less");
@import url("fonts/fonts.less");
@import url("fonts/h2-font.less");
@import url("title/title-font.less");
@import url("blocks/description.less");
@import url("fonts/bold.less");
@import url("decoration/dash.less");
@import url("blocks/visible-hidden.less");
@import url("header/menu.less");
@import url("header/page-header.less");
@import url("blocks/page-main.less");
@import url("blocks/page-nomain.less");
@import url("title/title.less");
@import url("blocks/reason.less");
@import url("blocks/reason-list.less");
@import url("blocks/clarification.less");
@import url("blocks/search.less");
@import url("form/blue-button.less");
@import url("medias/foto.less");
@import url("medias/foto-header.less");
@import url("medias/video.less");
@import url("form/feedback.less");
@import url("form/form.less");
@import url("form/form-item.less");
@import url("form/alert.less");
@import url("form/radiogroup.less");
@import url("form/checkbox.less");
@import url("title/title-nomain.less");
@import url("footer/social.less");
@import url("footer/page-footer.less");
@import url("footer/copyright.less");
@import url("decoration/border.less");
@import url("blocks/wrapper.less");
@import url("blocks/wrap.less");

html {
  background: @bgdesktop;
}

body {
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: @usual-size;
  min-width: @mobile-width;
  width: @mobile-width;
  background: @white-color;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans", "Arial", sans-serif;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  body {
    max-width: @tablet-width;
    margin: 0 auto;
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    width: @desktop-width;
    box-shadow: -5px 0 15px -5px rgba(0, 1, 1, 0.2), 5px 0 15px -5px rgba(0, 1, 1, 0.2);
  }
}
