@import url("_variables.less");
@import url("fonts.less");
@import url("h2-font.less");
@import url("title-font.less");
@import url("description.less");
@import url("bold.less");
@import url("dash.less");
@import url("visible-hidden.less");
@import url("menu.less");
@import url("page-header.less");
@import url("page-main.less");
@import url("page-nomain.less");
@import url("title.less");
@import url("reason.less");
@import url("reason-list.less");
@import url("clarification.less");
@import url("search.less");
@import url("blue-button.less");
@import url("foto.less");
@import url("foto-header.less");
@import url("video.less");
@import url("feedback.less");
@import url("form.less");
@import url("radiogroup.less");
@import url("checkbox.less");
@import url("title-nomain.less");
@import url("social.less");
@import url("page-footer.less");
@import url("copyright.less");
@import url("border.less");
@import url("wrapper.less");
@import url("wrap.less");

html {
  background: @bgdesktop;
}

body {
  font-family: "PT-Sans", sans-serif;
  font-size: @usual-size;
  min-width: @mobile-width;
  width: @mobile-width;
  background: @white-color;
  margin: 0 auto;
}

.bg {
  position: absolute;
  z-index: 2000;
  background-image: url("../img/sedona-photo-mobile.jpg");
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 100%;
  height: 3875.16px;
  top: 0;
  left: 0;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans", sans-serif;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  body {
    max-width: @tablet-width;
    margin: 0 auto;
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    width: @desktop-width;
    box-shadow: -5px 0 15px -5px rgba(0, 1, 1, 0.2), 5px 0 15px -5px rgba(0, 1, 1, 0.2);
  }
}
