@import url("_variables.less");
@import url("fonts.less");
@import url("main-nav.less");
@import url("page-header.less");
@import url("title.less");
@import url("reason.less");
@import url("search.less");
@import url("foto.less");
@import url("page-footer.less");
@import url("social.less");
@import url("video.less");
@import url("feedback.less");
@import url("form.less");

body {
  background: #ffffff;
  font-family: "PT-Sans", sans-serif;
  font-size: @usual-size;
}

* {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans", sans-serif;
}

.visible-hidden {
  display: none;
}

.dash {
  &::before,
  &::after {
    content: "\2014";
  }

  &::before {
    padding-right: 5px;
  }

  &::after {
    padding-left: 5px;
  }
}

.border .reason-list__desciption {
  border-bottom: 1px solid @grey-color;
  margin: 0 @sum-side;
}
