
.title-font {
  font-weight: bold;
  font-size: @h3-size;
  text-transform: uppercase;
  color: @black-color;
  line-height: @h3-line;
  letter-spacing: 0.3px;
}

@media (min-width: @tablet-width) {
  .title-font {
    font-size: @h3-size-tablet;
    line-height: @h3-line;
    letter-spacing: 0;

    &--tablet {
      font-size: 30px;
    }
  }
}
