
.page-footer__title {
  padding-bottom: 33px;
}

.page-footer__copyright {
  margin: 36px @main-block-side 0 @main-block-side;
  text-align: center;
  font-size: @usual-size;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: @block-item-bottom;
}

@media (min-width: @tablet-width) {
  .page-footer__title {
    padding-bottom: 0;
  }

  .page-footer__copyright {
    margin: 0;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .search__description {
    padding-right: 350px;
    padding-left: 350px;
  }
}
